 .shades{
    width:816px;
    height: 122px;
    position: relative;
    clear: both;
    overflow: hidden;
    z-index: 10;
    top:354px;
    left:9px;
}
 .shades li{
    height: 122px;
    width:707px;
    background: blue;
    position: absolute;
   
}
.shades li:nth-child(2){
    background: orangered;
    /* left:202px; */
}
.shades li:nth-child(3){
    background: honeydew;
    /* left:404px; */
}
.shades li:nth-child(4){
    background: green;
    /* left:606px; */
}
#contentp{
    width:1520px;
    height: 482px;
    margin:0 auto;
    background: pink;
    margin-top:184px;
}